.header_nav {
    height: 50px;
    border: 1px solid #ED820E
}
.header_div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_button_group {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

button.ant-btn.ant-btn-primary.header_button{
    color:'#ED820E';
    background:'white';
    border:'#ED820E';
}

.footer_main{
    height: 50px;
    background-color: #ED820E;
    position: fixed;
    bottom: 0;
    width: 100%
}

.header_title{
font-family: cursive;
font-size: large;
color: #ED820E;
}           
